<!-- https://samydigital.omc/storage/3d ciyu/scene.gltf -->
<div class="row mr-0 my-3 pt-3 bg-light">
  <div class="col-md-3">
    <h4 class="pt-3 px-5 lg-1 lg-1 topic">Web Enteries</h4>
  </div>
  <div class="col-md-9">
    <div class="dis1 p-3">
      <p>Lorem Ipsum refers to a dummy block of text that is often used in publishing and graphic
        design to fill gaps in the page before the actual words are put into the finished product.
        Lorem ipsum resembles Latin but has no real meaning
      </p>
      <div class="pt-5 pb-3 row">
        <div class="col-md-6 mb-3">
          <label class="lab-1">Where do you want your Web entries?</label>
          <mat-form-field class="search-form-field" floatLabel="never">
            <mat-select [(ngModel)]="PiechartOn">
              <mat-option value="sub" (click)="onResetarray()">Sub-Topic</mat-option>
              <mat-option value="sub-sub" (click)="onResetarray()">Sub Sub-Topic</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6 mb-3"></div>
        <div class="search-div col-md-4" *ngIf="PiechartOn === 'sub'">
          <mat-form-field class="search-form-field" floatLabel="never">
            <mat-label>Select Topic</mat-label>
            <mat-select>
              <mat-option *ngFor="let item of topics" [value]="item.id" (click)="onSectionOne(item.id)">
                {{item.title}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="search-div col-md-4" *ngIf="PiechartOn === 'sub'">
          <mat-form-field class="search-form-field" floatLabel="never">
            <mat-label>Select Sub-Topic</mat-label>
            <mat-select [(ngModel)]="selectedIdForSubPieId">
              <mat-option *ngFor="let item of subtopicList" [value]="item.id">
                {{item.heading}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- for sub sub topic dropdown---------------- -->
        <div class="search-div col-md-4" *ngIf="PiechartOn === 'sub-sub'">
          <mat-form-field class="search-form-field" floatLabel="never">
            <mat-label>Select Topic</mat-label>
            <mat-select>
              <mat-option *ngFor="let item of topics" [value]="item.id" (click)="onsectionTwo(item.id)">
                {{item.title}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="search-div col-md-4" *ngIf="PiechartOn === 'sub-sub'">
          <mat-form-field class="search-form-field" floatLabel="never">
            <mat-label>Select Sub-Topic</mat-label>
            <mat-select [(ngModel)]="selectedIdForSubSubPieId">
              <mat-option *ngFor="let item of SubsubtopicList" [value]="item.id" (click)="onLastSubsUB(item.id)">
                {{item.heading}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="search-div col-md-4" *ngIf="PiechartOn === 'sub-sub'">
          <mat-form-field class="search-form-field" floatLabel="never">
            <mat-label>Select Sub-Sub-Topic</mat-label>
            <mat-select [(ngModel)]="LastSubid">
              <mat-option *ngFor="let item of LastSubList" [value]="item.id">
                {{item.heading}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-4" *ngIf="PiechartOn === 'sub'">
          <a class="create" (click)="goToSubTimeLine(selectedIdForSubPieId)">Add Entries</a>
          <a class="see" (click)="subweb(selectedIdForSubPieId)">See All</a>
        </div>
        <div class="col-md-4" *ngIf="PiechartOn === 'sub-sub'">
          <a class="create" (click)="goToSubSubTimeLine(LastSubid)">Add Entries</a>
          <a class="see" (click)="subsubweb(LastSubid)">See All</a>
        </div>
      </div>
    </div>
  </div>
</div>
