<div class="m-5">
<div class="row mr-0 my-3 pt-3 bg-light">
  <div class="col-md-3">
      <h4 class="pt-3 px-5 lg-1 lg-1 topic">Pie Chart</h4>
  </div>
  <div class="col-md-9">
      <div class="dis1 p-3">
          <p>Lorem Ipsum refers to a dummy block of text that is often used in publishing and graphic
              design to fill gaps in the page before the actual words are put into the finished product.
              Lorem ipsum resembles Latin but has no real meaning
          </p>
          <div class="pt-5 pb-3 row">
              <div class="col-md-6 mb-3">
                  <label class="lab-1">Where do you want your Pie-chart entries?</label>
                  <mat-form-field class="search-form-field" floatLabel="never">
                      <mat-select [(ngModel)]="PiechartOn">
                          <mat-option value="sub" (click)="onResetarray()">Sub-Topic</mat-option>
                          <mat-option value="sub-sub" (click)="onResetarray()">Sub Sub-Topic</mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>

              <div class="col-md-6 mb-3"></div>
              <div class="search-div col-md-4" *ngIf="PiechartOn === 'sub'">
                  <mat-form-field class="search-form-field" floatLabel="never">
                      <mat-label>Select Topic</mat-label>
                      <mat-select>
                          <mat-option *ngFor="let item of topics" [value]="item.id" (click)="onClickSubPie(item.id)">
                              {{item.title}}
                          </mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>
              <div class="search-div col-md-4" *ngIf="PiechartOn === 'sub'">
                  <mat-form-field class="search-form-field" floatLabel="never">
                      <mat-label>Select Sub-Topic</mat-label>
                      <mat-select [(ngModel)]="selectedIdForSubPieId">
                          <mat-option *ngFor="let item of subpie" [value]="item.id">
                              {{item.heading}}
                          </mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>

              <!-- for sub sub topic dropdown---------------- -->
              <div class="search-div col-md-4" *ngIf="PiechartOn === 'sub-sub'">
                  <mat-form-field class="search-form-field" floatLabel="never">
                      <mat-label>Select Topic</mat-label>
                      <mat-select>
                          <mat-option *ngFor="let item of topics" [value]="item.id"
                              (click)="onClickSubSubPie(item.id)">
                              {{item.title}}
                          </mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>
              <div class="search-div col-md-4" *ngIf="PiechartOn === 'sub-sub'">
                  <mat-form-field class="search-form-field" floatLabel="never">
                      <mat-label>Select Sub-Topic</mat-label>
                      <mat-select [(ngModel)]="selectedIdForSubSubPieId">
                          <mat-option *ngFor="let item of subSubpie" [value]="item.id" (click)="onLastSub(item.id)">
                              {{item.heading}}
                          </mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>
              <div class="search-div col-md-4" *ngIf="PiechartOn === 'sub-sub'">
                  <mat-form-field class="search-form-field" floatLabel="never">
                      <mat-label>Select Sub-Sub-Topic</mat-label>
                      <mat-select [(ngModel)]="LastSub">
                          <mat-option *ngFor="let item of ExtraArr" [value]="item.id">
                              {{item.heading}}
                          </mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>
              <div class="col-md-12" *ngIf="selectedIdForSubPieId">
                  <div *ngIf="PiechartOn === 'sub'">
                      <a class="create" (click)="goToSubSubPie(selectedIdForSubPieId)">Add Entries</a>
                      <a class="see" (click)="SubpieList(selectedIdForSubPieId)">See All</a>
                  </div>
              </div>
              <div class="col-md-12" *ngIf="LastSub">
                  <div *ngIf="PiechartOn === 'sub-sub'">
                      <a class="create" (click)="goToSubLastPie(LastSub)">Add Entries</a>
                      <a class="see" (click)="SubsubpieList(LastSub)">See All</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
</div>
<!-- //////////////////////////////////////////////////////////////////// -->
<div class="row m-5">
  <div class="col-md-3 adj" *ngFor="let discover of topics2">
    <mat-card class="example-card">
      <div class="imght">
        <img class="forimg" src="{{discover.url}}" alt="cover pic">
      </div>
      <div class="text-for">
        <h4>{{discover.title}}</h4>
        <p>{{discover.description}}</p>
        <button mat-raised-button class="dtlbtn" (click)="deleteDis(discover.id)">Delete</button>
        <!-- <button mat-raised-button (click)="onEditExp(discover.id)" class="editbtn">Edit</button> -->
        <p>
          {{discover.title_description}}
        </p>
      </div>
    </mat-card>
  </div>
  <!-- <div class="col-md-3">
    <div class="box bg-light border" (click)="goToTopic()">
      <p class="center"><b>+</b></p>
    </div>
  </div> -->
</div>
<div class="text-center m-5" *ngIf="list">
  <h3 class="danger m-5 p-5">Uploading data,please wait....</h3>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div class="text-center m-5" *ngIf="lastView">
    <h3 class="danger m-5 p-5">No data found !!</h3>
    <h5>Please create first</h5>
  </div>

<div class="row mr-0  mb-5 p-0">
  <div class="col-md-12 text-right">
    <button type="button" (click)="backClicked()" class="back" mat-raised-button>Back</button>
  </div>
</div>