<mat-tab-group mat-align-tabs="center" animationDuration="1000ms">
  <mat-tab label="Image">
    <div class="row htr">
      <ul *ngFor="let item of images">
        <li>
          <img src="{{item}}" style="width:100%" (click)="getImg(item)">
        </li>
      </ul>
    </div>
  </mat-tab>
  <mat-tab label="Video">
    <div class="row htr">
      <ul *ngFor="let item of videos">
        <li>
          <video width="400" controls preload="metadata">
            <source src="{{item}}" type="video/mp4" (click)="getImg(item)">
            Your browser does not support HTML5 video.
          </video>
          <button mat-raised-button (click)="getImg(item)">Video url</button>
        </li>
      </ul>
    </div>
  </mat-tab>
  <mat-tab label="gif">
    <div class="row htr">
      <ul *ngFor="let item of gifs">
        <li>
          <img src="{{item}}" style="width:100%" (click)="getImg(item)">
        </li>
      </ul>
    </div>
  </mat-tab>
  <mat-tab label="Ar">
    <div class="row htr">
      <ul *ngFor="let item of ar">
        <li>
          <img src="{{item}}" style="width:100%" (click)="getImg(item)">
        </li>
      </ul>
    </div>
  </mat-tab>
</mat-tab-group>
<div mat-dialog-actions>
  <!-- <span *ngIf="imageUrl">
    <input matInput type="text" [value]="imageUrl">
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="onClear()">
      <mat-icon>close</mat-icon>
    </button>
  </span> -->
  <div class="dis2 search-div example-container px-3">
    <mat-form-field class="example-full-width my-1 search-form-field" floatLabel="never">
      <mat-label>Url</mat-label>
      <input matInput type="text" [value]="imageUrl">
      <button mat-button *ngIf="imageUrl" matSuffix mat-icon-button aria-label="Clear" (click)="onClear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary" (click)="onNoClick()">Close</button>
</div>