<div class="m-5 ">
    <mat-toolbar>
        <mat-toolbar-row>
            <span>School Management</span>
            <span class="example-spacer"></span>
            <span>
                <button class="btn btn12">School Code {{about.institution_code}}</button>
            </span>
        </mat-toolbar-row>
    </mat-toolbar>
    <div class="row m-0 border pt-2 pb-5 bg-light">
        <div class="col-md-4">
            <label>Name </label>
            <input disabled type="text" name="name" [value]="about.name" >
        </div>
        <div class="col-md-4">
            <label>Curriculum </label>
            <input disabled type="text" name="curriculum"  [value]="about.curriculum" >
        </div>
        <div class="col-md-4">
            <label>logo </label>
            <input disabled type="text" name="logo"  [value]="about.logo" >
        </div>
        <div class="col-md-8">
            <label>Address </label>
            <input disabled type="text" name="address"  [value]="about.address">
        </div>
        <div class="col-md-4">
            <label>Locality </label>
            <input disabled type="text" name="locality"  [value]="about.locality">
        </div>
        <div class="col-md-4">
            <label>City </label>
            <input disabled type="text" name="city"  [value]="about.city">
        </div>
        <div class="col-md-4">
            <label>State </label>
            <input disabled type="text" name="state"  [value]="about.state">
        </div>
        <div class="col-md-4">
            <label>Pincode </label>
            <input disabled type="text" name="pin_code"  [value]="about.pin_code">
        </div>
        <div class="col-md-4">
            <label>Phone Number </label>
            <input disabled type="text" name="phone"  [value]="about.phone">
        </div>
        <div class="col-md-4">
            <label>Country </label>
            <input disabled type="text" name="country"  [value]="about.country">
        </div>
        <div class="col-md-4">
            <label>Website </label>
            <input disabled type="text" name="website"  [value]="about.website">
        </div>
        <div class="col-md-4">
            <label>Email </label>
            <input disabled type="text" name="email"  [value]="about.email">
        </div>
        <div class="col-md-4">
            <label>Contact Person Name </label>
            <input disabled type="text" name="contact_person_name"  [value]="about.contact_person_name">
        </div>
        <div class="col-md-4">
            <label>Level </label>
            <input disabled type="text" name="level"  [value]="about.level">
        </div>

    </div>
</div>