<!-- //////////////////new login page///////////////////// -->
<div class="fixed-background">
  <div class="container login-container  h-100 d-flex justify-content-center">
    <div class="row my-auto">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="row p-0 m-0 for-sh">
          <div class="col-lg-5 ads">
            <p class="text-white h2">MAGIC IS IN THE DETAILS</p>
            <p class="white mb-0"> Please use your credentials to login. </p>
          </div>
          <div class="col-lg-7 login-form">
            <div class="profile-img">
              <img src="https://mymediafiles0.s3.ap-south-1.amazonaws.com/Logo/Aplis+Logo.png" alt="profile_img"
                height="auto" width="150px;">
            </div>
            <h4 class="pt-1 pb-3">Login</h4>
            <form>
              <label class="form-group has-float-label">
                <input type="text" class="form-control" [(ngModel)]="loginUserData.email" name="email" required>
                <span>E-mail</span>
              </label>
              <label class="form-group has-float-label">
                <input type="password" class="form-control" [(ngModel)]="loginUserData.password" name="password"
                  required>
                <span>Password</span>
              </label>
              <div class="form-group d-flex justify-content-between align-items-center">
                <p class="error">{{message}}</p>
                <button type="button" [disabled]="apiRes" class="btn btn-primary btn-lg btn-block"
                  (click)="loginUser()">
                  <div class="loader" *ngIf="apiRes"></div>
                  <span *ngIf="!apiRes">LOGIN</span>
                </button>
              </div>

              <div class="service-error" *ngIf="error">
                <h1>{{error.errorTitle}}</h1>
                <h3>{{error.errorDesc}}</h3>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</div>