<form [formGroup]="mySubtimeForm">
  <div class="row m-5">
    <div class="col-md-3" formArrayName="arr" *ngFor="let a of mySubtimeForm.get('arr')['controls']; let i = index">
      <div [formGroupName]="i" class="edit-2 p-2 bg-light mb-3">
        <p  *ngIf="mySubtimeForm.controls.arr.length > 1" class="dtlbtn" color="primary" style="background-color:rgb(223, 49, 49)"
          (click)="deleteInvoiceParticulars(i)">
          Delete</p>
        <div class="m-1"></div>

        <ul class="edit-1 p-1 mt-4">
          <h3>Add Sub-Sub-timeline content </h3>
          <li>
            <label>Heading</label>
            <input type="text" formControlName="heading">
          </li>
          <li>
            <label>Sub-Heading</label>
            <input type="text" formControlName="sub_heading">
          </li>
          <li>
            <label>Description</label>
            <input type="text" formControlName="description">
          </li>
          <li>
            <label>Year</label>
            <input type="text" formControlName="year">
          </li>
          <li>
            <label>Date</label>
            <input type="text" formControlName="date">
          </li>
          <li>
            <label>Time</label>
            <input type="text" formControlName="time">
          </li>
          <li>
            <label>Mime type</label>
            <mat-form-field class="search-form-field" floatLabel="never">
              <mat-select formControlName="mime_type">
                <mat-option value="web">Web</mat-option>
                <mat-option value="image">Image</mat-option>
                <mat-option value="gif">Gif</mat-option>
                <mat-option value="video">Video</mat-option>
              </mat-select>
            </mat-form-field>
            <div class="mt-2">
              <mat-form-field class="example-full-width my-1 search-form-field" floatLabel="never">
                <input matInput placeholder="url..." formControlName="url">
              </mat-form-field>
            </div>
            <div class="mt-2">
              <mat-form-field class="example-full-width my-1 search-form-field" floatLabel="never">
                <input matInput placeholder="Ar url..." formControlName="ar_model">
              </mat-form-field>
            </div>
          </li>
          <!-- <li>
            <div class="edit-2 p-2 bg-light text-right">
              <button type="button" mat-raised-button style="background:#E8C864;"
                (click)="ontimeLineContent(i)">Save</button>
            </div>
          </li> -->
        </ul>
      </div>
    </div>
    <div class="col-md-3 text-center"  >
      <div (click)="addItem()" class="addbutton">
        <div class="center">+</div>
      </div>
    </div>
  </div>
</form>

<div class="row mr-0  mb-5 p-0">
  <div class="col-md-12 text-right">
    <button (click)="onAllsaveform()" class="mr-2" mat-raised-button color="primary">Publish TimeLine</button>
    <button type="button" (click)="backClicked()" class="back" mat-raised-button>Back</button>
  </div>
</div>
<app-photo-upload></app-photo-upload>
<app-ar-uploader></app-ar-uploader>