<div class="m-5 border-c">
  <div class="row mr-0 pt-3 pb-3  bg-light">
    <div class="col-md-2">
      <h4 class="pt-3 px-5 lg-1 lg-1">let get started</h4>
    </div>
    <div class="col-md-10">
      <div class="dis1 p-3">
        <p>Lorem Ipsum refers to a dummy block of text that is often used in publishing and graphic
          design to fill gaps in the page before the actual words are put into the finished product.
          Lorem ipsum resembles Latin but has no real meaning
        </p>
      </div>
      <div class="dis2 search-div px-3">
      <mat-form-field class="search-form-field" floatLabel="never">
        <mat-label>None</mat-label>
        <mat-select >
          <mat-option value="explore">Explore</mat-option>
          <mat-option value="browser">Browser</mat-option>
        </mat-select>
      </mat-form-field> 
      </div>
    </div>
  </div>
</div>
<div class="row m-5">
  <div class="col-md-3 adj">
    <a routerLink='/home/Explore/create'>
    <div class="card  border-d">
      <p class="center"> +</p>
    </div>
  </a>
  </div>
  <div class="col-md-3 adj" *ngFor="let discover of discovers">
    <mat-card class="example-card" >
      <div class="imght" *ngIf="(discover.card_url) == null; else elseBlock">
        <img class="forimg" src="{{discover.header_url}}" alt="cover pic">
      </div>
      <ng-template #elseBlock>
      <div class="imght">
        <img class="forimg" src="{{discover.card_url }}" alt="cover pic">
      </div>
    </ng-template>
      <div class="text-for">
        <h4>{{discover.title}}</h4>
        <button mat-raised-button (click)="deleteDis(discover.id)">Delete</button>
        <button mat-raised-button (click)="onEditExp(discover.id)" class="editbtn">Edit</button>
        <p>
         {{discover.title_description}}
        </p>
        </div>
    </mat-card>
    
  </div>
 
</div>
