<form [formGroup]="Editorform">
  <div class="row m-5 ">
    <div *ngIf="forShow" class="col-md-3 mb-3">
      <div class="bg-light p-2 pt-3">
        <div class="edit-2 ">
          <label for="chap">Topic</label>
          <input type="text" formControlName="title" name="chap">
        </div>
        <div class="edit-2">
          <label for="chap2">Subtitle</label>
          <input type="text" formControlName="sub_title" name="chap2">
        </div>
        <div class="edit-2 ">
          <label>Topic Cover</label>
          <input type="text" formControlName="topic_cover" placeholder="url..">
        </div>
        <div class="edit-2 ">
          <label>Color code</label>
          <input type="text" formControlName="color_code" placeholder="Hex color code..">
        </div>
        <div class="edit-2 ">
          <label>Description</label>
          <div [ngxSummernote]="config" formControlName="description"></div>
        </div>
         <!-- <div class="edit-2 ">
          <label for="chap2">Topic cover image</label>
          <input type="text" formControlName="topic_cover" name="chap2">
        </div> -->
        <!--<div class="edit-2 mb-3">
          <label for="chap2">Show Button Text</label>
          <mat-radio-group aria-label="Select an option" formControlName="show_button_text">
            <mat-radio-button value="1">Yes</mat-radio-button>
            <mat-radio-button value="0">No </mat-radio-button>
          </mat-radio-group>
        </div> -->
        <div class="action">
          <button mat-raised-button style="background:#E8C864;" type="button" (click)="onSaveTopic()">Save</button>
        </div>
      </div>
    </div>
    <div class="col-md-3 adj" *ngIf="addHide">
      <div class="card  border-d mr-4 ml-4 bg-light" (click)="addItem()">
        <p class="center"> +</p>
        <h4 class="content-add">Create Topic</h4>
      </div>
    </div>
  </div>
</form>

<div class="row mr-0  mb-5 p-0">
  <div class="col-md-12 text-right">
    <button type="button" (click)="backClicked()" class="back" mat-raised-button>Back</button>
  </div>
</div>


<div class="splas" *ngIf="apiResSp">
  <mat-spinner class="for-center">
  </mat-spinner>
  <h4 class="texct">Submit Form....Please wait</h4>
</div>


<app-photo-upload></app-photo-upload>
<app-ar-uploader></app-ar-uploader>