.search-form-field {
    width: 88%;
    color: blue;
    background:inherit;
  }
  .search-div {
    margin: 10px 0px 10px 0px;
  }
  .pdleft {
    padding-left: .5rem!important;
    font-weight: 900;
    font-size: 18px;
    margin-top: 13px;
}
h4.pt-3.px-5.lg-1.lg-1 {
    font-weight: 900;
    font-size: 2.2rem;
    padding: 36px 60px !important;
    color: #989898;
}
.card {
    width: 100%;
    height:250px;
}
.border-d{
    border-style: dotted;
    border-width: 2px;
    border-radius: 10px;
    border-color: #A8A8A8;
}
.center {
        text-align: center;
        padding: 10px initial;
        margin: 76px auto;
        color: #4E91E8;
        font-size: 4rem;
        font-weight: 100;
    
}
.adj{
    padding: 0px;  
    cursor: pointer;
}
a{
    text-decoration: none;
}