<form [formGroup]="mySubForm">
  <div class="row m-5">
    <div class="col-md-4">
      <div class="edit-2 p-2 bg-light ">
        <ul class="edit-1 p-1 mt-1">
          <h3 class="text-center">Sub-sub-Topic</h3>
          <li class="search-div">
            <label>Select Sub-content type</label>
            <mat-form-field class="search-form-field" floatLabel="never">
              <mat-select formControlName="type" [(ngModel)]="expression">
                <mat-option *ngFor="let food of types" [value]="food.value">{{food.viewValue}}</mat-option>
              </mat-select>
            </mat-form-field>
          </li>
          <li>
            <label>Sub-Sub topic Heading</label>
            <input type="text" formControlName="heading">
          </li>
          <li>
            <label>Sub-Sub topic Sub-Heading</label>
            <input type="text" formControlName="sub_heading">
          </li>
          <li *ngIf="expression !== 'is_timeline' && expression !=='is_website'">
            <label>Ar Url</label>
            <input type="text" formControlName="ar_url">
          </li>
          <li  *ngIf="expression !== 'is_timeline'">
            <label>Body Text</label>
            <!-- html editor start-->
            <div [ngxSummernote]="config" formControlName="html_content"></div>
            <!-- html editor end-->
          </li>
          <!-- <li>
            <label>Select background Type</label>
            <div class="dis2 search-div">
              <mat-form-field class="search-form-field" floatLabel="never">
                <mat-select [(value)]="selectedsubback">
                  <mat-option value="image">Background Image</mat-option>
                  <mat-option value="color">Background Color</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </li> -->
          <!-- <li *ngIf="expression !=='is_website'">
            <label>Button Background Image *</label>
            <input type="text" formControlName="bg_image" placeholder="image url...">
          </li> -->
          <li >
            <label>Button Color code *</label>
            <input type="text" formControlName="color_code" >
          </li>
          <!-- <li>
            <label>Select button background Type</label>
            <div class="dis2 search-div">
              <mat-form-field class="search-form-field" floatLabel="never">
                <mat-select [(value)]="selectedsubbtn">
                  <mat-option value="image">Background Image</mat-option>
                  <mat-option value="color">Background Color</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </li> -->
          <li >
            <label>Buttom Background Image *</label>
            <input type="text" formControlName="btn_image" >
          </li>
          <!-- <li *ngIf="selectedsubbtn == 'color'">
            <label>Background color</label>
            <input type="text" formControlName="color_code" placeholder="color code,eg:#fffff">
          </li> -->
          <!-- <li>
            <label for="chap2">Show Button Text</label>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
              formControlName="show_button_text">
              <mat-radio-button class="example-radio-button" *ngFor="let food of texts" [value]="food.value">
                {{food.viewValue}}
              </mat-radio-button>
            </mat-radio-group>
          </li> -->
          <div formArrayName="sub_sub_topic_files"  *ngIf="expression === 'is_text'">
            <li class="mt-4" *ngFor="let a of mySubForm['controls'].sub_sub_topic_files['controls']; let i = index"
              formGroupName="{{i}}">
              <button *ngIf="mySubForm.controls.sub_sub_topic_files.length > 1" (click)="deleteInvoiceParticulars(i)" class="closebtn" type="button">x</button>
              <button type="button" class="addbtn" (click)="addsubPlayer(i)">
                +</button>
              <mat-form-field class="search-form-field" floatLabel="never">
                <mat-label>Select Mime Type</mat-label>
                <mat-select formControlName="mime_type">
                  <mat-option value="web">Web</mat-option>
                  <mat-option value="image">Image</mat-option>
                  <mat-option value="gif">Gif</mat-option>
                  <mat-option value="video">Video</mat-option>
                </mat-select>
              </mat-form-field>
              <div class="mt-2">
                <mat-form-field class="example-full-width my-1 search-form-field" floatLabel="never">
                  <input matInput placeholder="url..." formControlName="url">
                </mat-form-field>
              </div>
            </li>
          </div>
          <li>
            <div class="edit-2 p-2 bg-light mb-3 text-right">
              <button type="submit" (click)="onSubSubClick()" mat-raised-button
                style="background:#E8C864;color:#000000" mat-raised-button color="primary">Save</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- <div class="col-md-4 text-center"  *ngIf="addHide">
      <div (click)="addItem()" class="addbutton">
        <div class="center">+</div>
      </div>
    </div> -->
    <br>
  </div>
</form>
<div class="splas" *ngIf="apiResSp">
  <mat-spinner class="for-center">
  </mat-spinner>
  <h4 class="texct">Submit Form....Please wait</h4>
</div>

<div class="row mr-0  mb-5 p-0">
  <div class="col-md-12 text-right">
    <button type="button" (click)="backClicked()" class="back" mat-raised-button>Back</button>
  </div>
</div>

<app-photo-upload></app-photo-upload>
<app-ar-uploader></app-ar-uploader>