.example-spacer {
    flex: 1 1 auto;
  }
  .bgt{
    background: #a8a8a8;
  }
  button.btn.btn12 {
    border: 1px solid #b7b6b6;
    border-radius: 0px;
    padding: 10px 52px;
    background: #a8a8a8;
  }
.ht{
    height: 120px;
}
button.btn.btn1 {
    position: absolute;
    left: 3rem;
    font-size: 20px;
    font-weight: 500;
  }
  button.btn.btn2 {
    position: absolute;
    left: 7rem;
    font-size: 20px;
    font-weight: 500;
  }
  button.btn.btn3 {
    position: absolute;
    left: 12.5rem;
    font-size: 20px;
    font-weight: 500;
  }
  td {
    padding: 0 2rem;
    position: relative;
}
.ht{
  cursor: pointer;
}